<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="MyIndex.php">
        <system.web>
            <identity impersonate="true" />
        </system.web>
        <system.webServer>
            <defaultDocument>
                <files>
                    <add value="MyIndex.php" />
                </files>
            </defaultDocument>
        </system.webServer>
    </location>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="MyIndex.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
